<div class="">
    <form class="form-horizontal form-bordered" role="form" id="editticket-form" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Edit Ticket</h4>
            </div>
            <div class="panel-body" id="section_create_event">           
				<%
                    is_recurring = true;
                %>
                
                <div style="display:none" class="alert alert-block  alert-danger fade in">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                 </div>
               
				<p class='f11'>All <span class="asterisk">*</span> marked fields are mandatory</p>
				<div class="form-group">
                    <label class="control-label col-sm-3"> </label>
					 
                    <div class="controls col-sm-4">
                    	
                    	 
                    	<input type="hidden" name="s_event_id" value="<%= event_id %>" />  
                                           
                    </div>
                </div>
                <div class="form-group" id="hosting_name_div">
                    <label class="control-label col-sm-3">Name<span class="asterisk">*</span></label>

                    <div class="controls col-sm-4" id ="hosting_name_div_err">
                    	<input class="typeahead form-control" name="name" id="name" type="text" placeholder="Ticket name" value="<%= name  %>" required>
                        <input type="hidden" name="event_id" value="<%=  event_id%>" />
                        <input type="hidden" name="is_recurring" value="<%=  is_recurring%>" /> 
                         <input type="hidden" name="ticket_type_id" value="<%=  _id%>" /> 
                    </div>
                </div>
				
                <div class="form-group">
                    <label class="control-label col-sm-3">Sale Type <span class="asterisk">*</span></label>
                    <div class="controls col-sm-4">
                        <select id="ticket_type" class="form-control" name="ticket_type">							
							<option <%= ticket_type == "reservation" ? "selected" : ""  %> value="reservation">Table Reservation</option>
							<option <%= ticket_type == "booking" ? "selected" : ""  %> value="booking">Table Booking</option> 
							<option <%= ticket_type == "purchase" ? "selected" : ""  %> value="purchase">Table Purchase</option>
						</select>
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label col-sm-3"># of Tickets Available</label>
                     <div class="controls col-sm-4">                     	 
                     		<input name="quantity" id="quantity" type="text" class="form-control"   placeholder="0" value="<%=quantity %>" />
                        	
						 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Allowed # of Guests</label>

                    <div class="controls col-sm-4">
                        <input name="guest" id="guest" type="text" class="form-control"   placeholder="0" value="<%=guest  %>" />

                    </div>
                </div>
				<div class="form-group">
                    <label class="control-label col-sm-3">Price</label>
                     <div class="controls col-sm-4">
                     	<div class="input-group">
                     		<span class="input-group-addon">$</span>	
                        	<input name="price" id="price" type="text" class="form-control"   placeholder="0" value="<%=price  %>" />
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Deposit</label>
                     <div class="controls col-sm-4">
                     	<div class="input-group">
                        	<input name="deposit" id="deposit" type="text" class="form-control"   placeholder="0" value="<%=deposit  %>" />
							<span class="input-group-addon">%</span>
						 </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Price per additional guest</label>
                     <div class="controls col-sm-4">
                     	<div class="input-group">
                     		<span class="input-group-addon">$</span>	
                        	<input name="add_guest" id="add_guest" type="text" class="form-control"   placeholder="0" value="<%=add_guest %>" />
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Additional Fees</label>
                     <div class="controls col-sm-4">
                       	<span class="col-sm-6 nplr"> <input type="checkbox" <%= chk_adminfee==true ?'checked' :''%>  value="1" id="chk_adminfee" name="chk_adminfee"/> Admin Fee</span>
						<span class="col-sm-6 nplr">
							<div class="input-group">
							  <span class="input-group-addon">$</span>
							    <input name="admin_fee" id="admin_fee" type="text"   class="form-control"   placeholder="0" value="<%= admin_fee  %>" />
							</div>							
						</span>
                    </div>
                </div>
                <div class="form-group">
                     <label class="control-label col-sm-3"></label>
                     <div class="controls col-sm-4">
                       	<span class="col-sm-6 nplr"> <input type="checkbox" <%= chk_tax ==true?'checked' :''%> value="1" id="chk_tax" name="chk_tax"/> Tax</span>
						<span class="col-sm-6 nplr">
							<div class="input-group">							    
							     <input name="tax" id="tax" type="text" class="form-control"    placeholder="0" value="<%=tax  %>" />
								  <span class="input-group-addon">%</span>
								  			
							</div>											
						</span>
                    </div>
                    <span class="col-sm-2 p6">$ <label id="tax_amt">0</label></span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3"></label>
                     <div class="controls col-sm-4">
                       	<span class="col-sm-6 nplr"> <input type="checkbox" <%= chk_tip ==true ?'checked' :''%>  value="1" id="chk_tip" name="chk_tip"/> Tip</span>
						<span class="col-sm-6 nplr">
							<div class="input-group">							    
							     <input name="tip" id="tip" type="text" class="form-control"    placeholder="0" value="<%=tip  %>" />
								  <span class="input-group-addon">%</span>	
								  
							</div>
						</span>						
                    </div>
                    <div class="col-sm-2 p6">$ <label id="tip_amt">0</label></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Estimated Total</label>
                     <div class="controls col-sm-4">
                        <input name="total" id="total" readonly="true" type="text" class="form-control"   placeholder="0" value="<%=total  %>" />

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3"> Description
                    	
                    	</label>
                    <div class="controls col-sm-6">
                        <textarea name="description" class="form-control autogrow" placeholder="Description" rows="4" style="height: 105px;"><%=description  %></textarea>
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-sm-3">Status <span class="asterisk">*</span></label>
                    <div class="controls col-sm-4">
                        <select id="ticket_status1" class="form-control" name="ticket_status">							
							<option <%= status == "active" ? 'selected' : ''  %> value="active">Active</option>
							<option <%= status == "inactive" ?  'selected' : ''  %> value="inactive">Inactive</option> 
							<option <%= status == "sold out" ? 'selected' : ''  %> value="sold out">Sold out</option>
							 
						</select>
                    </div>
                </div>
               <div id="termsandcond">
               		
	                <% if(purchase_confirmations.length){  %>
               		<div class="form-group">
		                    <label class="control-label col-sm-3">Purchase confirmations 
		                    	<p>(I understand that ...) </p>	
		                    </label>
		                    <div class="controls col-sm-4"></div>
		                </div>
	                    <%
	                
	 				 for(var i=0; i<purchase_confirmations.length; i++) {%>
		                    
		                    
		                <div class="form-group">
		                    <label class="control-label col-sm-3"></label>
		                     <div class="controls col-sm-4">
		                         
		                        <input type="checkbox" value="1" id="chk_<%=i%>" name="chk_<%=i%>"  checked />
								<input type="text" class="form-control"  value="<%= purchase_confirmations[i].label%>" name="txt_<%=i%>" />
								 <textarea id="<%=i%>_box" name="<%=i%>_box" class="form-control autogrow" placeholder="" rows="4" style="height: 105px;"><%= purchase_confirmations[i].body%></textarea>	
		                    </div>
		                </div>
	                 <% }  %>
     					  
     				
	                    </div>
	                 <% }  %>
	                <input type="hidden" value="<%=i%>" name="confirmationscount" />
	                <div id="newconfirmationsarea">
	                	<input type="hidden" name="cnfm_count" id="cnfm_count"  value="0"/>
	                	<input type="hidden" name="cnfm_ids" id="cnfm_ids"  value=""/>
	                	
	                </div>
	                <div class="form-group">
	                    <label class="control-label col-sm-3"></label>
	                    <div class="controls col-sm-4 newconfirmation"><a href="#" style="color: blue">New Purchase Confirmation</a> </div>
	                </div>    
	                
               </div>
               <%if(is_recurring==true) {%>
               <div class="form-group">
	                <label class="control-label col-xs-3  ">Force Update</label>
	                <div class="controls col-xs-9">
	                    <p class="form-control-static">                               
	                        <input type="checkbox"  name="forceedit" data-off-text="NO"  data-on-text="YES" id="forceedit" data-off-color="success" data-size="small" data-on-color="primary" value ="1"  class="boot-switch"/>
	                    </p>
	                    <p class="f11">
	                    	This check box when checked, when making an update will force update all tickets in the series
	                    </p>
	                </div>
	            </div> 
               <%}%>  
               

                

                <div class="form-group">
                    <label class="control-label col-sm-3"></label>
                    <div class="controls col-sm-8">
                        <a id="delete_ticket_details" data-ticket_id="<%= _id  %>" data-event_id=<%= event_id  %> data-type="<%= is_recurring  %>" class=" btn btn-danger" href="#"   title="Delete">Delete Ticket</a>
                        <button type="submit" class="btn btn-primary">Update Ticket</button> 
                        <a class="btn btn-default rest_btn" href="#" >Reset</a>
                        <a class="btn btn-default" href="<%=siteurl%>admin/events/#/<%= is_recurring == true?'event-weekly':'event-special'%>=<%=event_id%>">Cancel</a>
                    </div>
                </div>

            </div>
        </div>
       
    </form>
    
</div> 
